<div class="container">
  <header class="my-4  text-center">
    <img src="assets/logo.png" alt="Les petits plats" class="logo">
  </header>
  <!-- <div class="input-group mb-3" (focusin)="onFocus()" (focusout)="onBlur()">
    <input type="search" class="form-control" placeholder="Rechercher titre, ingrédients ou description."
           [(ngModel)]="searchQuery" (input)="onSearch($event)">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="nativeSearch()" type="button"><i class="fas fa-search"></i></button>
    </div>
  </div> -->

  <div class="search-container" (focusin)="onFocus()" (focusout)="onBlur()">
    <input type="text" placeholder="Rechercher une recette" [(ngModel)]="searchQuery" (input)="onSearch($event)">
    <button (click)="nativeSearch()">
        <svg viewBox="0 0 24 24">
            <path d="M10 2a8 8 0 105.293 14.707l5.657 5.657 1.414-1.414-5.657-5.657A8 8 0 0010 2zm0 2a6 6 0 110 12 6 6 0 010-12z"/>
        </svg>
    </button>
  </div>

  <div class="position-relative showSuggestions">
    @if (filteredResults.length > 0 && showSuggestions) {
      <ul class="list-group w-100">
        @for (result of filteredResults; track $index) {
          <li class="list-group-item list-group-item-action" (click)="selectResult(result)">
            {{ result.name }}
          </li>
          @for (item of result.ingredients; track $index) {
            <li class="list-group-item list-group-item-action" (click)="selectResult(result)">
              {{ item.ingredient }}
            </li>
          }

          <li class="list-group-item list-group-item-action" (click)="selectResult(result)">
            {{ result.description }}
          </li>
        }

      </ul>
    }
    @if(filteredResults.length === 0 && showSuggestions) {
      <ul class="list-group w-100">
        <li class="list-group-item list-group-item-action">
          Aucune recette ne correspond a votre recherche
        </li>
      </ul>
    }


  </div>


    <!--  -->
  @if (selected) {
    <div class="mt-4 mb-4">
      <div class="btn-custom">
        <span class="btn-label">{{ selected }}</span>
        <span class="">
          <i class="fas fa-times m-1" (click)="ngOnInit()"></i>
        </span>
      </div>
    </div>
  }



  <div class="list d-flex mb-4 mt-4">
    <!-- Dropdown Ingredients -->
    <div class="btn-group"  (click)="toggleDropdown('ingredients')">
      <div class="btn btn-purple button"  data-bs-toggle="dropdown" aria-expanded="false">
        <input type="text" (focus)="toggleDropdown('ingredients')" (input)="filterIngredients($event)"  name="" id="" placeholder="Ingredients"
           data-bs-toggle="dropdown"
           [(ngModel)]="ingredient"
        >
        <i class="fas" [ngClass]="{'fa-angle-down': !dropdowns.ingredients, 'fa-angle-up': dropdowns.ingredients}"></i>
      </div>
      <ul class="dropdown-menu btn-purple" [class.show]="dropdowns.ingredients" style="max-height: 200px; overflow-y: auto;">
        @for (item of filteredIngredientList; track $index) {
          <li><a class="dropdown-item" (click)="searchIngredient(item)">{{ item }}</a></li>
        }
        @empty {
          <li><a class="dropdown-item">N'existe pas</a></li>
        }
      </ul>
    </div>

    <!-- Dropdown Appareils -->
    <div class="btn-group mr-2" (click)="toggleDropdown('appareils')">
      <div type="button" class="btn btn-green button"  data-bs-toggle="dropdown" aria-expanded="false">
        <input type="text" (focus)="toggleDropdown('appareils')" (input)="filterAppareil($event)"  name="" id="" placeholder="Ingredients"
           data-bs-toggle="dropdown"
           [(ngModel)]="appareils"
        >
        <i class="fas" [ngClass]="{'fa-angle-down': !dropdowns.appareils, 'fa-angle-up': dropdowns.appareils}"></i>
      </div>
      <ul class="dropdown-menu btn-green" [class.show]="dropdowns.appareils" style="max-height: 200px; overflow-y: auto;">
        @for (item of filteredAppareilList; track $index) {
          <li><a class="dropdown-item" (click)="searchAppareil(item.appliance)">{{ item.appliance }}</a></li>
        }
        @empty {
          <li><a class="dropdown-item">N'existe pas</a></li>
        }
        </ul>
    </div>

    <!-- Dropdown Ustensiles -->
    <div class="btn-group mr-2" (click)="toggleDropdown('ustensiles')">
      <div type="button" class="btn btn-red button" data-bs-toggle="dropdown" aria-expanded="false">
        <input type="text" (focus)="toggleDropdown('ustensiles')" (input)="filterUstensil($event)"  name="" id="" placeholder="Ustensils"
           data-bs-toggle="dropdown"
           [(ngModel)]="ustensils"
        >
        <i class="fas" [ngClass]="{'fa-angle-down': !dropdowns.ustensiles, 'fa-angle-up': dropdowns.ustensiles}"></i>
      </div>
      <ul class="dropdown-menu btn-red" [class.show]="dropdowns.ustensiles" style="max-height: 200px; overflow-y: auto;">
        @for (item of filteredUstensilList; track $index) {
          <li><a class="dropdown-item" (click)="searchUstensils(item)">{{ item }}</a></li>
        }
        @empty {
          <li><a class="dropdown-item">N'existe pas</a></li>
        }
      </ul>
    </div>
  </div>

  <div class="row">
    <!-- Card 1 -->
     @for (item of data; track $index) {
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-top"></div>
          <div class="card-body">
            <div class="card-body-title mb-3">
              <h5 class="card-title">{{ item.name }}</h5>
              <div class="recipe-time"><i class="far fa-clock"></i> {{ item.time }} min</div>
            </div>
            <div class="card-text-content card-body-title">
              <p class="card-text">
                @for (ingredient of item.ingredients; track $index) {
                  <strong>{{ ingredient.ingredient }}:</strong> {{ ingredient.quantity }}{{ ingredient.unit }}<br>
                }
              </p>
              <p class="card-text" style="max-height: 130px; overflow-y: auto; max-width: 40%; text-overflow: ellipsis;">
                {{ item.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
     }
     @empty {
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-1"></h1>
            <p class="lead">Aucune recette ne correspond a votre recherche</p>
          </div>
        </div>
      </div>
     }

  </div>
</div>


