.logo {
  max-width: 250px;
  margin-bottom: 20px;
}
@media (max-width: 900px){
  .list, .btn-group{
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
    align-items: center;
  }
  .btn-custom, .btn-label{
    color: red;
  }
}

.dropdown-menu{
  padding-top: -50px;
  width: 100%;
}
.dropdown-item{
  color: #fff;
  &:hover{
    color: #927272;
  }
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  margin: auto;
}

.search-container input[type="text"] {
  border: none;
  background-color: transparent;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  padding: 8px;
  color: #333;
}

.search-container button {
  border: none;
  background: none;
  cursor: pointer;
}

.search-container button svg {
  fill: #333;
  width: 20px;
  height: 20px;
}

.list-group {
  z-index: 10;
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 50px;
}

//
.button{
  display: flex;
  flex-wrap: nowrap;
  position: center;
}
.btn-content{
  margin-top: 10%;
}
.button input[type="text"]{
  border: none;
  background-color: transparent;
  flex-grow: 1;
  width: 87%;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  border: none;
  box-shadow: none;
  outline: none;
}

.list-group-item {
  cursor: pointer;
}

.input-group {
  margin: 0 auto;
}
.btn-group{
  margin-right: 30px;
  position: relative;

}

.btn-custom {
  background-color: #8000ff;
  color: white;;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 90%;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
}
.btn-custom .btn-label {
  margin-right: 5px;
}
.btn-custom .fa-times {
  color: #fff;
  border: 2px solid #ffff;
  border-radius: 50%;
  padding: 2px 5px;
  cursor: pointer;
  &:hover{
    border: 2px solid #f2f2f2;
  }
}

.card{
  height: 25rem;
}
.card-img-top {
  background-color: #d3c2c2;
  height: 10rem;
}

.card-body{
  background-color: #f2f2f2;
}
.card-text {
  font-size: 0.9rem;
}
.recipe-time {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.recipe-time i {
  margin-right: 5px;
}

.card-body-title{
  display: flex;
  justify-content: space-between;
}

.btn{
  border-radius: 0 0px 0px 0;
  width: 170px;
  height: 69px;
}

.btn-dropdown{
  width: 170px;
  height: 69px;
  .btn-content{
    padding-top: 50px;
    margin: 0% 0% 0% 0%;
  }
}



.btn-purple {
  background-color: #8000ff;
  color: white;
}


.btn-green {
  background-color: #00ffaf;

}


.btn-red {
  background-color: #ff004f;
  color: white;
}



.close-list-appareils{
  display: none;
}
.open-list-appareils{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

//
.dropdown-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.dropdown-trigger {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  text-align: left;
  transition: background-color 0.3s ease;
}

.dropdown-men {
  display: none;
  position: absolute;
  background-color: #007bff;
  color: white;
  width: 300px; /* Adjust width as needed */
  z-index: 1;
  top: 100%;
  left: 0;
}

.dropdown-container .dropdown-men.show {
  display: block;
}

.dropdown-container .expanded {
  transform: rotate(180deg); /* Arrow rotation when expanded */
  color: red;
}

