<div class="container">
  <header class="my-4  text-center">
    <img src="assets/logo.png" alt="Les petits plats" class="logo">
  </header>

  <div class="search-container" (focusin)="onFocus()" (focusout)="onBlur()">
    <input type="text" placeholder="Rechercher une recette" [(ngModel)]="searchQuery" (input)="onSearch($event)">
    <button (click)="nativeSearch()">
        <svg viewBox="0 0 24 24">
            <path d="M10 2a8 8 0 105.293 14.707l5.657 5.657 1.414-1.414-5.657-5.657A8 8 0 0010 2zm0 2a6 6 0 110 12 6 6 0 010-12z"/>
        </svg>
    </button>
  </div>

  <div class="position-relative showSuggestions">
    @if (filteredResults.length > 0 && showSuggestions) {
      <ul class="list-group w-100">
        @for (result of filteredResults; track $index) {
          <li class="list-group-item list-group-item-action" (click)="selectResult(result)">
            {{ result.name }}
          </li>
          @for (item of result.ingredients; track $index) {
            <li class="list-group-item list-group-item-action" (click)="selectResult(result)">
              {{ item.ingredient }}
            </li>
          }

          <li class="list-group-item list-group-item-action" (click)="selectResult(result)">
            {{ result.description }}
          </li>
        }

      </ul>
    }
    @if(filteredResults.length === 0 && showSuggestions) {
      <ul class="list-group w-100">
        <li class="list-group-item list-group-item-action">
          Aucune recette ne correspond a votre recherche
        </li>
      </ul>
    }


  </div>


    <!--  -->
  @if (selected) {
    <div class="mt-4 mb-4">
      <div class="btn-custom">
        <span class="btn-label">{{ selected }}</span>
        <span class="">
          <i class="fas fa-times m-1" (click)="ngOnInit()"></i>
        </span>
      </div>
    </div>
  }



  <div class="list d-flex mb-4 mt-4">
    <!-- Dropdown Ingredients -->
    <div class="btn-group mr-2">
      <div class="dropdown-container">
        <div class="dropdown-trigger btn-purple" [ngClass]="{'btn-dropdown': !dropdowns.ingredients, 'btn-d': dropdowns.ingredients}">
          <div class="content">
            <div>
              <span *ngIf="!dropdowns.ingredients" class="btn-content">
                ingredients
              </span>
              <input type="text" (input)="filterIngredients($event)"  name="" id="" placeholder="Rechercher un ingrédient"
                data-bs-toggle="dropdown"
                [(ngModel)]="ingredient"
                *ngIf="dropdowns.ingredients"
              >
            </div>
            <span  (click)="toggleDropdown('ingredients')" [ngClass]="{'expanded': dropdowns.ingredients}"><i class="fas fa-angle-down" ></i></span>
          </div>
          <div (click)="toggleDropdown('ingredients')" class="dropdown-m" [ngClass]="{'show': dropdowns.ingredients}" style="width: 100%; max-height: 200px; overflow-y: auto;">
            <div class="item">
              @for (item of filteredIngredientList; track $index) {
                <span (click)="searchIngredient(item)">{{ item }}</span>
              }
              @empty {
                <span>N'existe pas</span>
              }
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Dropdown Appareils -->

    <div class="btn-group mr-2">
      <div class="dropdown-container" [ngClass]="{'btn-group2': dropdowns.appareils}">
        <div class="dropdown-trigger btn-green" [ngClass]="{'btn-dropdown': !dropdowns.appareils, 'btn-d': dropdowns.appareils}">
          <div class="content">
            <div>
              <span *ngIf="!dropdowns.appareils" class="btn-content">
                Appareils
              </span>
              <input type="text" (input)="filterAppareil($event)" placeholder="Rechercher un appareil"
                data-bs-toggle="dropdown"
                [(ngModel)]="appareils"
                *ngIf="dropdowns.appareils"
              >
            </div>
            <span  (click)="toggleDropdown('appareils')" [ngClass]="{'expanded': dropdowns.appareils}"><i class="fas fa-angle-down" ></i></span>
          </div>
          <div (click)="toggleDropdown('appareils')" class="dropdown-m" [ngClass]="{'show': dropdowns.appareils}" style="width: 100%; max-height: 200px; overflow-y: auto;">
            <div class="item">
              @for (item of filteredAppareilList; track $index) {
                <span (click)="searchAppareil(item.appliance)">{{ item.appliance }}</span>
              }
              @empty {
                <span>N'existe pas</span>
              }
            </div>
          </div>
        </div>

      </div>
    </div>



    <!-- Dropdown Ustensiles -->

    <div class="btn-group ">
      <div class="dropdown-container" [ngClass]="{'btn-group2': dropdowns.ustensiles}" >
        <div class="dropdown-trigger btn-red" [ngClass]="{'btn-dropdown': !dropdowns.ustensiles, 'btn-d': dropdowns.ustensiles}">
          <div class="content">
            <div>
              <span *ngIf="!dropdowns.ustensiles" class="btn-content">
                Ustensiles
              </span>
              <input type="text" (input)="filterUstensil($event)" placeholder="Rechercher un ustensile"
                data-bs-toggle="dropdown"
                [(ngModel)]="ustensils"
                *ngIf="dropdowns.ustensiles"
              >
            </div>
            <span  (click)="toggleDropdown('ustensiles')" [ngClass]="{'expanded': dropdowns.ustensiles}"><i class="fas fa-angle-down" ></i></span>
          </div>
          <div (click)="toggleDropdown('ustensiles')" class="dropdown-m" [ngClass]="{'show': dropdowns.ustensiles}" style="width: 100%; max-height: 200px; overflow-y: auto;">
            <div >
              @for (item of filteredUstensilList; track $index) {
                <span (click)="searchUstensils(item)">{{ item }}</span>
              }
              @empty {
                <span>N'existe pas</span>
              }
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


  <div class="row">
    <!-- Card 1 -->
     @for (item of data; track $index) {
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-img-top"></div>
          <div class="card-body">
            <div class="card-body-title mb-3">
              <h5 class="card-title">{{ item.name }}</h5>
              <div class="recipe-time"><i class="far fa-clock"></i> {{ item.time }} min</div>
            </div>
            <div class="card-text-content card-body-title">
              <p class="card-text">
                @for (ingredient of item.ingredients; track $index) {
                  <strong>{{ ingredient.ingredient }}:</strong> {{ ingredient.quantity }}{{ ingredient.unit }}<br>
                }
              </p>
              <p class="card-text" style="max-height: 130px; overflow-y: auto; max-width: 40%; text-overflow: ellipsis;">
                {{ item.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
     }
     @empty {
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h1 class="display-1"></h1>
            <p class="lead">Aucune recette ne correspond a votre recherche</p>
          </div>
        </div>
      </div>
     }

  </div>
</div>


