a{
  cursor: pointer;
}
.logo {
  max-width: 250px;
  margin-bottom: 20px;
}

.input-group {
  // max-width: 600px;
  margin: 0 auto;
}
.btn-group{
  margin-right: 30px;

  .dropdown-toggle{
    padding: 20px;
    font-weight: bold;
  }
  //
}

.btn-custom {
  background-color: #8000ff;
  color: white;;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 90%;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
}
.btn-custom .btn-label {
  margin-right: 5px;
}
.btn-custom .fa-times {
  // background-color: white;
  color: #fff;
  border: 2px solid #ffff;
  border-radius: 50%;
  padding: 2px 5px;
  cursor: pointer;
  &:hover{
    border: 2px solid #f2f2f2;
  }
  // font-size: 0.8rem;
}

.card-img-top {
  background-color: #d3c2c2;
  height: 150px;
}
.card-text {
  font-size: 0.9rem;
}
.recipe-time {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.recipe-time i {
  margin-right: 5px;
}

.card-body-title{
  display: flex;
  justify-content: space-between;
}

.btn{
  border-radius: 0 20px 20px 0;
}
// .fas{
//   border-radius: 0 20px 20px 0;
// }

.btn-purple {
  background-color: #8000ff;
  color: white;
}

.btn-purple:hover {
  background-color: #6a00cc;
  color: white;
}

.btn-green {
  background-color: #00ffaf;
  color: white;
}

.btn-green:hover {
  background-color: #00cc8a;
  color: white;
}

.btn-red {
  background-color: #ff004f;
  color: white;
}

.btn-red:hover {
  background-color: #cc003e;
  color: white;
}

